
/* Dark red + gray color scheme */
:root{
    --primary-color:#8B0000;
    --secondary-color:#ccc;
    --tertiary-color:#fff;
    --quarter-color:#444;
}

body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
    color:var(--quarter-color);
}

h1,h2,h3{
    line-height:1.2;
    color:var(--primary-color);
}

.chat-container{
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:20px;
    overflow:scroll;
    overflow-x:hidden;
    height: 65vh;
}